* {
	box-sizing: border-box;
}

body {
	background-color: Grey;
}

section {
	display: flex;
}

article {
	background-color: green;
	width: 32%;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
}

@media only screen and (max-width: 600px) {
 
section {
	flex-direction: column;
}

body {
    background-color: red;
}

article {
  	background-color: purple;
  	width: 90%;
  	height: 50px;
  	margin-top: 20px;
}

}