body {
	margin: 0;
	padding: 0;
	background-image: url("REMEDNO3/assets/people-2");
}

header {
	width: 100%;
}
.bordermerah {
	width: 99.4%;
	height: auto;
	position: relative;
	border-style: solid;
	border-width: 3px;
	border-color: red;
	border-top-style: none;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.flex-container {
	color: white;
	display: flex;
	justify-content: space-between;
	background-color: #E91E63;
	padding: 10px;
	box-sizing: border-box;
}

.flex-container > div {
	font-family: Arial Black;
	background-color: none;
	color: white;
}

.flex-container2 {
	display: flex;
	justify-content: space-around;
}

.flex-container2 > span {
	width: 70%;
}

.flex-container3 {
	display: flex;
	font-weight: bold;
	text-align: center;
}

.flex-container3 > span {
	width: 28%;
	margin-top: 50px;
	box-sizing: border-box;
}

input[type="text"] {
	background-color: #E91E63;
	border-style: none;
	width: 100px;
}

input::placeholder {
	color: white;
}

.cari {
	background-color: red;
	border-style: none;
	margin-left: 380%;
}

.logo {
	display: flex;
	width: 200px;
	height: 125px;
	margin-left: -50px;
}

.red-box {
	border-style: solid;
	border-width: 2px;
	border-color: #E91E63;
	height: 20%;
	color: #E91E63;
	padding: 10px;
	box-sizing: border-box;
}

.blue-box {
	background-color: blue;
	height: 400px;
	width: 86%;
	color: white;
	margin-left: 30px;
	padding: 20px;
	box-sizing: border-box;
}

.ul1 {
	display: inline;
	width: 30%;
	list-style-type: none;
}

.ul1 li {
	float: left;
	padding: 5px;
	box-sizing: border-box;
}

.special {
	font-family: Arial Black;
	font-size: 41px;
	width: 500px;
	z-index: 2;
	position: absolute;
}

.prewed img {
	position: absolute;
	z-index: 1;
	width: 50%;
	height: 55%;
	margin-left: 250px;
}

.flex-container4 {
	margin-top: 20px;
	display: flex;
}

.flex-container4 > span {
	width: 50%;
	overflow: hidden;
}

.flex-container4 > span > div {
	float: left;
}

.pink-circ {
	width: 55px;
	height: 55px;
	border-radius: 45px;
	background-color: Pink;
	margin-left: -15px;
}

.breed {
	width: 60%;
	font-family: Arial;
	font-size: 45px;
	margin-left: 40px;
}

.blue-block {
	background-color: Lightblue;
	width: 90px;
	height: 15px;
	margin-left: 80px;
	margin-top: 40px;
}

.desc {
	font-family: Arial;
	font-size: 17px;
	width: 80%;
}

.yel-circ {
	width: 110px;
	height: 110px;
	border-radius: 90px;
	background: yellow;
	margin-left: 20px;
	margin-top: 50px;
	margin-right: -100px;
}

.flex-container5 {
	margin-top: 40px;
	display: flex;
}

.flex-container5 > div {
	width: 40%;
	height: 230px;
	color: white;
	align-items: center;
}

.pink-box {
	margin-right: -30px;
	background-color: Pink;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 80px;
	box-sizing: border-box;
	overflow: hidden;
	flex-direction: column;
}

.yel-circ2 {
	width: 110px;
	height: 110px;
	border-radius: 90px;
	background-color: yellow;
	margin-left: 180px;
	margin-bottom: 500px;
}

.people {
	font-family: Arial Black;
	font-size: 30px;
}

.yellow-block {
	background-color: yellow;
	width: 40px;
	height: 15px;
	margin-top: 20px;
}

.half {
	position: absolute;
	border-bottom: 230px solid blue;
	border-left: 120px solid transparent;
	margin-left: 283px;
}

.blue-box {
	padding-top: 50px;
	padding-left: 30px;
	flex-grow: 8;
	background-color: blue;
}

.flex-container6 {
	display: flex;
	flex-direction: column;
}

.flex-container6 div {
	width: 95%;
	height: 33%;
}

.testimoni1 {
	font-family: Arial;
	font-size: 15px;
	float: left;
}

.flex-container7 {
	display: flex;
}

.orang1 {
	width: 15%;
	margin-top: 35px;
	margin-left: 30px;
}

.face1 {
	width: 65px;
	height: 65px;
	border-radius: 45px;
	float: left;
}

.ident {
	margin-top: 35px;
	width: 35%;
}

#circles {
	list-style-type: none;
	float: right;
}

.circle {
	margin-left: 10px;
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 45px;
	background-color: Pink;
}

.circle1 {
	background-color: black;
}

